<template>
  <div>
    <div id="top-stuff">
      <p id="title">Rick and Morty Characters</p>
      <div class="form row">
        <div class="form-group col-md-2">
          <button id="btn-load" type="button" class="button-color1" @click="vLoadCards">Get More Cards!!</button>
        </div>
        <div class="form-group col-sd-2">
          <button type="button" class="button-color3" @click="vResetSelection">Reset</button>
        </div>
        <div class="form-group col-sd-2">
          <button type="button" class="button-color2" @click="vFilterBySelection">Filter</button>
        </div>
        <div id="filter" class="form-group col-md-6">
          <div class="form-row">
            <div class="form-group col-sd-2">
              <input id="characterName" type="text" placeholder=" nombre..." @input="inputName"/>
            </div>
            <div class="form-group col-sd-2">
              <select class="custom-select mr-sm-2" id="selectSpecies" @change="onChangeSpecies">
                <option selected>Choose Species...</option>
                <option value="Human">Human</option>
                <option value="Alien">Alien</option>
                <option value="Humanoid">Humanoid</option>
                <option value="Animal">Animal</option>
                <option value="Cronenberg">Cronenberg</option>
                <option value="Robot">Robot</option>
                <option value="Poopybutthole">Poopybutthole</option>
                <option value="unknown">unknown</option>
                <option value="Disease">Disease</option>
                <option value="Mytholog">Mytholog</option>
              </select>
            </div>
            <div class="form-group col-sd-1">
              <select class="custom-select mr-sm-2" id="selectGender" @change="onChangeGender">
                <option selected>Choose Gender...</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Genderless">Genderless</option>
                <option value="unknown">unknown</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="content" class="container">
      <div id="output" class="form-row"></div>
    </div>
  </div>
</template>

<script>
import * as myFns from '/home/facundo/Training Stuff/RickyMortyVueJs/src/functions.js'

export default {
  name: "RMCards",

  methods:{
    vLoadCards(){
      myFns.loadCards()
    },
    vFilterBySelection(){
      myFns.filterBySelection();
      document.getElementById("selectSpecies").selectedIndex=0;
      document.getElementById("selectGender").selectedIndex=0;
    },
    vResetSelection(){
      myFns.resetSelection()
    },
    onChangeSpecies(event){
      if(event.target.value != undefined){
myFns.getSpecies(event.target.value)
      }
        
    },
    onChangeGender(event){
        if(event.target.value != undefined){
        myFns.getGender(event.target.value)
    }
    },
    inputName(event){
      if(event.target.value != undefined){
        myFns.getName(event.target.value);
        }
    }
  }
};
</script>


