<template>
  <div id="app">
    <!-- <img src="./assets/logo.png">
    <HelloWorld/> -->
    <RMCards/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld'
import RMCards from './components/RMCards'

export default {
  name: 'App',
  components: {
    // HelloWorld
    RMCards
  }
}
</script>

<style>
body {
  background-color: #615589;
}
#title {
  font-weight: bold;
  color: #538768;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  font-size: 100px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}
#top-stuff {
  text-align: center;
  background-image: url("http://teespring-storecontent.s3.amazonaws.com/WnjN8GVVDEe7LFu2zA1xjg_store_banner_image?1492942042057");
  padding-bottom: 10px;
}
#card {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #011c09;
}
#output {
  margin-top: 10px;
}

#title-char {
  font-size: 18px;
  color: #dcecde;
  font-weight: bold;
  text-align: center;
}
#text-prop {
  color: #dcecde;
  text-align: left;
}
#filter {
  box-shadow: inset 0px 0px 277px 3px #dcecde;
  padding: 10px;
  height: 60px;
  border-radius: 10px;
}
.custom-text {
  font-size: 15px;
}
.attributes {
  color: #f5cb42;
  font-style: italic;
}
.button-color1 {
  border: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 5px;
  background-color: #009900;
  height: 50px;
}
.button-color1:hover {
  background-color: #004d00;
  border: none;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.button-color1:focus {
  outline: none;
}
.button-color2 {
  border: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 5px;
  background-color: #ffd633;
  height: 50px;
  width: 100px;
  margin-right: 10px;
}
.button-color2:hover {
  background-color: #cca300;
  border: none;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.button-color2:focus {
  outline: none;
}
.button-color3 {
  border: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 5px;
  background-color: #ff3300;
  height: 50px;
  width: 100px;
  margin-right: 10px;
}
.button-color3:hover {
  background-color: #b32400;
  border: none;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.button-color3:focus {
  outline: none;
}
/* #app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
</style>
